<!DOCTYPE html>
<html>
<head>
	<title>Garment Costing</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
#locator { position: relative; visibility: inline; left: 47%; top: 30%; z-index: 200; } 
#search_box { position: relative; visibility: inline; left: 5%; top: 35%; z-index: 200; } 
#logout_button { position: absolute; visibility: inline; left: 1px; top: 1px; z-index: 200; } 
html, body {
  height: 100%;
}
		body {
			background-image: url("{{url_for('static', filename='2.jpg')}}");
            
			background-repeat:no-repeat;

			background-size:cover;
		}

		
	</style>
</head>

<body>
    <div id="locator" position="relative">
        <img src="{{url_for('static', filename='bk_final_logo.png')}}" width="175"
             height="80">
    </div>
	<!-- <form action="/user_input" method="POST">
 		<label for="string_query_name">Description</label>
  		<input type="text" name="string_query" id="string_query_name" size="75" placeholder="Cotton shirt for Dunnes for summer season">
  		<button>Submit</button>
  		<br>
  	</form> -->


  	<div id="search_box" class="container", position="relative">
		<form action="/user_input" method="POST" id="myform">
				<!-- <div class="form-group row">
					<div class="col-sm-2"></div>
				  <input type="email" class="form-control form-control-lg col-sm-8" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cotton Shirt">
				  <button type="submit" class="btn btn-primary col-sm-1">Submit</button>
				</div> -->

				<div class="input-group mb-3 row">
					<div class="col-lg-1"></div>
						<input type="text" class="form-control form-control-lg col-lg-9" name="string_query" id="string_query_name" placeholder="Cotton Shirt" aria-label="Recipient's username" aria-describedby="basic-addon2">
						<div class="input-group-append">
						  <button class="btn btn-primary" onclick="document.getElementById('myform').submit()" type="button">Submit</button>
						</div>
					  </div>
				
				
			  </form>

	</div>	

  	<br/>
  	<br/>
    
    <div id="logout_button" position="absolute">
    <form action="/logout", method="get">
        <button class="btn btn-primary" type="submit">logout</button>
    </form>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>